// Base Colors
$color-isabelline: #EEEEEE;
$color-livid: #62B6CB;
$color-dark_imperial_blue: #1B4965;
$color-light_red_ochre: #EF8354;
$color-eerie_black: #161925;

// color aliases
$color-brand: $color-dark_imperial_blue;
$color-background: $color-isabelline;

$color-light: $color-isabelline;
$color-dark: $color-eerie_black;

$color-alert: $color-light_red_ochre;
$color-info: $color-livid;
